@model IEnumerable<Product>
 
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}

<div class="row">
    @foreach (var product in Model)
    {
        if (count != 0 && count % 3 ==0 )
        {
            @:</div>
            @:<div class="row">
        }
        <div class="col-4">
            <div class="card">
                <img src="@product.ImageUrl" class="card-img-top" alt="Alternate Text" />
                <div class="card-body">
                    <h4 class="card-title">@product.Name</h4>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">@product.Price - @(product.Price * (decimal)(1-product.Discount))</p>
                    <button class="btn btn-success">Sepete Ekle</button>
                </div>
            </div>

        </div>
        count++;
    }
</div>